@import 'variables.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: $light-grey;

  @media (max-width: 600px) {
    font-size: 95%;
  }
}

#__next {
  position: relative;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

li,
ul {
  padding: 0;
  list-style: none;
}

.content {
  padding: var(--space-7) var(--space-5);
  background-color: white;
  border-radius: 4px;
  margin: 0 var(--space-3) var(--space-3);
  box-shadow: 0px 0px 13px 8px rgba(158, 158, 158, 0.1);
  transition: $hover-transition;

  .darkMode & {
    background-color: $black;
    color: white;
  }

  @media (min-width: $small) {
    min-height: 100vw;
    margin: var(--space-5) 0 0 var(--space-7);
    padding: var(--space-8);
    box-shadow: 0px 0px 13px 8px rgba(158, 158, 158, 0.2);
    border-radius: 4px 0 0 0;
  }
}

.content-inner {
  margin-bottom: var(--space-8);
  max-width: 36em;
}

// Typography
h1 {
  margin: 0;
  font-weight: 600;
}

h2 {
  margin: 0.5em 0 1em;
  font-weight: 300;
}

// Navigation
nav {
  display: flex;
  align-items: center;
  padding: var(--space-2) 0;
  justify-content: space-between;
  z-index: 100;

  @media (min-width: $small) {
    position: fixed;
    width: calc(100vh - var(--space-5));
    height: var(--space-7);
    top: var(--space-5);
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    flex-direction: row-reverse;
  }

  @media (max-width: $small) {
    margin: 0 var(--space-3);
  }

  a,
  span {
    transition: 0.2s ease-out;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

.logo {
  font-size: 0.85em;
  font-weight: 800;
  border: 1px solid;
  padding: 0.75em;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background: $blue;
    color: $light-grey;
  }

  @media (min-width: $small) {
    transform: rotate(90deg);
    align-self: center;
  }
}

.journal-nav-link {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.85em;
  margin-left: 1em;

  @media (min-width: $small) {
    text-align: center;
    align-self: center;
    padding-bottom: 2px;
    margin-bottom: -2px;
  }

  span {
    font-size: 1.5em;
    vertical-align: middle;
    padding-right: 0.5em;
    margin-top: -2px;
  }
}

.themeToggle {
  padding-bottom: 2em;
  cursor: pointer;
  transform: rotate(90deg);

  @media (max-width: $small) {
    display: none;
  }
}

//Forms
input,
textarea {
  padding: var(--space-2);
  background: $light-grey;
  border: 0;
  border-radius: 2px;
  color: $black;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 300;
  outline: 2px solid transparent;
  resize: none;

  .darkMode & {
    background: $dark-grey;
    color: white;
  }

  @media (min-width: $small) {
    padding: var(--space-3);
  }

  &::placeholder {
    color: $grey;
    font-size: 0.9em;
  }

  &:focus {
    outline: 2px solid $grey;
    transition: 0.6s ease all;

    .darkMode & {
      outline-color: white;
    }
  }
}

// List
.hourListItem,
.notesListItem {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-2);

  label {
    margin-right: 0.25em;
    width: 65px;
    color: $grey;

    @media (min-width: $small) {
      margin-right: 1em;
    }
  }

  input {
    border: 2px solid transparent;
    margin-right: 1em;
  }

  input,
  textarea {
    width: 100%;
  }
}

.notesListItem {
  align-items: start;
  margin-top: var(--space-4);
  padding-top: var(--space-4);
  border-top: 1px solid $dark-grey;
}

.activeHour label {
  color: inherit;
}

.completeIcon {
  font-size: 2em;
  cursor: pointer;
  color: $grey;
  transition: $hover-transition;

  &:hover {
    color: $black;
  }

  .darkMode & {
    &:hover {
      color: white;
    }
  }
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: var(--space-8) 0 var(--space-4);
  color: $grey;

  a {
    transition: $hover-transition;

    &:hover {
      color: $blue;
    }
  }
}

// 404
.not-found {
  text-align: center;
}
