@import "variables.module.scss";

.planForm{
  margin-bottom: var(--space-10);
  max-width: 36em;   
}

.hourListItem, .notesListItem{
  display: flex;
  align-items: center;
  margin-bottom: var(--space-2); 
 
  label{
    margin-right: 1em;
    width: 65px;
  }

  input{
    border: 2px solid transparent;
    margin-right: 1em;
  }

  input, textarea{
    width: 100%;
  }

  span{
    font-size: 1.8em;    
    cursor: pointer;   
  }
}

.notesListItem{
  align-items: start;
  margin-top: var(--space-4);
  padding-top: var(--space-4);
  border-top: 1px solid $dark-grey;
}

.completeIcon{
  font-size: 1.4em;  
}